

<% for student in @students %>  
    <p>Name: <%= student.format_name() %> </p> 
    <p>Age: <%= student.age %> </p>
    <p>House: <%= student.house.name %> </p>
    <p> <a href="/students/<%= student.id %>">Show student</a> </p>
    <hr />
<% end %>