<h1> Student's Infomation </h1>

<p>Name: <%= @student.format_name() %></p>
<p>Age: <%= @student.age %></p>
<p>House: <%= @student.house.name %></p>

<p><a href="/students/<%=@student.id%>/edit">Edit Student Info</a></p>